@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Poppins:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  height: 35vmin;
}

.hPage {
  font-family: 'Poppins', sans-serif;
  background-color: #45c2f4;
  color: white;
}

.container {
  font-family: 'Gulzar', serif;
}

.body1 {
  text-align: left;
  color: #45c2f4;
}

.card {
  box-shadow: 10px 10px 10px black, 
  inset 0 5px 5px black;
}